.main-page__bar {
  display: flex;
  grid-row-start: 1;
  grid-row-end: 2;
  background-color: #2d2d2d;
  align-items: center;
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #619c78;
}
.main-js i {
  color: #ffca29;
  padding-right: 7px;
}
.main-page__me {
  background-color: #1e1e1e;
  color: white;
  /* text-align: center; */
  /* white-space: wrap; */
  width: 100%;
}
.main-js {
  padding: 25px 13px 15px 13px;
  background-color: #1e1e1e;
}
.htmlcopy {
  display: inline-block;
  text-align: left;
  padding: 40px;
}
.htmlcopy h1 {
  font-size: 20px;
}
.htmlcopy > div {
  margin-bottom: 17px;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.htmlcopy h1 {
  padding-bottom: 20px;
  color: #619c78;
  overflow: hidden;
  border-right: 2px solid;
  white-space: nowrap;
  animation: typing 2.5s steps(20);
}

/* .mywork {
  color: #619c78;
  font-size: 17px;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.blinking {
  animation: blink 1s infinite;
} */
.aboutMe {
  line-height: 1.4;
  font-size: 15px;
}
.aboutMe .constAboutMe {
  color: #5a98c9;
  font-size: 18px;
}
.aboutMe .consolelog {
  font-size: 17px;
  color: #61bde0;
}
.linkedin-button {
  padding: 5px;
  background-color: #5a98c9; /* LinkedIn brand color */
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 13px;
  cursor: pointer;
  margin: 3px 0px;
}

.linkedin-button:hover {
  background-color: #005183; /* Darker shade of LinkedIn brand color on hover */
}

.mywork-button {
  background-color: #609b78; /* LinkedIn brand color */
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}

.mywork-button:hover {
  background-color: #005183; /* Darker shade of LinkedIn brand color on hover */
}
